
<div id="example">
    
    
    <script type="text/x-kendo-template" id="template">
        <div class="product">
            <img src="../content/web/foods/#= ProductID #.jpg" alt="#: ProductName # image" />
            <h3>#:ProductName#</h3>
            <p>#:kendo.toString(UnitPrice, "c")#</p>
        </div>
    </script>

    <div id="grid"></div>

    <script>
        $(document).ready(function() {

            $("#grid").kendoGrid({
                height: 550,
                groupable: true,
                sortable: true,
                editable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                }
            });

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "DCOBin/BinList_Read",
                        dataType: "json",
                        data: {
                            q: function () {
                                return $("#searchFor").val();
                            }
                        }
                    }
                }
            });

            var grid = $("#grid").data("kendoGrid");
            grid.setDataSource(dataSource);
        });


    </script>
</div>