
    <div id="example">
               <div id="grid"></div>

               <script>
                   $(document).ready(function () {
                       $("#grid").kendoGrid({
                           dataSource: {
                               transport: {
                                   read: "Home/GetData",
                                   dataType: "json",
                                   type: "post"
                               },
                               pageSize: 20
                           },
                           height: 550,
                           groupable: true,
                           sortable: true,
                           pageable: {
                               refresh: true,
                               pageSizes: true,
                               buttonCount: 5
                           }
                       });
                   });
       </script>
</div>